/user-service/node_modules/
/user-service/.npm/
/user-service/dist/
/user-service/.build/
/user-service/.nestjs/
/user-service/.env
/user-service/.env.*
/user-service/*.log
/user-service/*.tmp
/user-service/.idea/
/user-service/.vscode/
/user-service/*.swp
/user-service/.DS_Store
/user-service/coverage/
/user-service/.nyc_output/
