# Node.js dependencies
node_modules/
.npm/

# Build output
dist/
.build/
.nestjs/

# Environment files
.env
.env.*

# Logs
*.log
*.tmp

# IDE / Editor files
.idea/
.vscode/
*.swp
.DS_Store

# Coverage and test-related files
coverage/
.nyc_output/
